<h1><%= @results %> Foods Found</h1>
<% @foods.each do |food| %>
<section class='food'>
  <section class='code'><%= food[:gtinUpc] %></section>
  <section class='description'><%= food[:description] %></section>
  <section class='brand_owner'><%= food[:brandOwner] %></section>
  <section class='ingredients'><%= food[:ingredients] %></section>
</section>
<% end %>
