<h1><%= @foods.size %> Foods Found</h1>
<% @foods.each do |food| %>
<section class='food'>
  <section class='code'>GTIN/UPC code: <%= food.gtin_upc %></section>
  <section class='description'>description: <%= food.description %></section>
  <section class='brand_owner'>Brand Owner: <%= food.brand_owner %></section>
  <section class='ingredients'>ingredients: <%= food.ingredients %></section>
</section><br>
<% end %>
